<!doctype html>
<html ng-app="gsheet">
<head>
    <title>Atividades</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.min.js"></script>

    <script type="text/javascript">
    (function(angular) {
        var app = angular.module('gsheet', ['ngResource']);

        app.factory('sheet', function($resource){
            var Sheet = $resource('https://script.google.com/macros/s/AKfycbwOrCSHRKgy_lUu5Cc7O3iAABwevCCLmK-5vxl3r25FmutcUSs/exec'
                                   + '?id=0AlmDz84IVUSXdDNHaW1NNWlsX0g0UF9Sdk9MMm01V1E'
                                   + '&sheet=Form Responses');

            return new Sheet().$get();
        })

        app.controller('AtividadesCtrl', function($scope, sheet){
            $scope.sheet = [];
            $scope.activity = null;

            sheet.then(function(data){
                $scope.sheet = data['Form Responses'].filter(function(e){
                    return e['Em_quais_categorias_essa_atividade_se_encaixa?']
                           && e['Feedback']
                           && e['Qual_o_valor_da_atividade?']
                           && e['Qual_é_o_nome_da_atividade?_']
                           && e['Que_projeto_realizou_essa_atividade?']
                });
                $scope.activity = $scope.sheet[0];
            });
        });

    })(window.angular);
    </script>

    <style type="text/css">
        body, html { height: 100%; }
        .jumbotron h1 { font-size: 30px; }
        .outer { display: table; height: 100%; margin: 0 auto; }
        .middle { display: table-cell; height: 100%; vertical-align: middle; }
        .loading .jumbotron p.title { font-size: xx-large; }
        .navbar-nav > li > select { margin: 10px;}
        text
    </style>
</head>
<body ng-controller="AtividadesCtrl">
    <div class="outer loading" ng-hide="sheet">
        <div class="middle">
            <div class="container">
                <div class="jumbotron text-center">
                    <p class="title">Carregando...</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="sheet">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Atividades</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li>
                        <select ng-model="actindex" ng-change="activity=sheet[actindex]" class="btn">
                          <option ng-repeat="row in sheet"
                                  ng-value="$index"
                                  ng-selected="row==activity">{{row['Qual_é_o_nome_da_atividade?_']}}</option>
                        </select>
                      </li>
                    </ul>
              </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h1>{{ activity['Qual_é_o_nome_da_atividade?_'] }}</h1>
            </div>
        </div>

        <div class="container">
            <div class="col-md-6">
                <div class="col-md-6" ng-show="activity['Que_projeto_realizou_essa_atividade?']">
                    <p><b>Que projeto realizou essa atividade?</b></p>
                    <p>{{ activity['Que_projeto_realizou_essa_atividade?'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Que_dia_essa_atividade_foi/será_realizada?']">
                    <p><b>Que dia essa atividade foi/será realizada?</b></p>
                    <p>{{ activity['Que_dia_essa_atividade_foi/será_realizada?'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Qual_o_valor_da_atividade?']">
                    <p><b>Qual o valor da atividade?</b></p>
                    <p>{{ activity['Qual_o_valor_da_atividade?'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Qual_é_o_nome_da_atividade?_']">
                    <p><b>Qual é o nome da atividade?</b></p>
                    <p>{{ activity['Qual_é_o_nome_da_atividade?_'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Em_quais_categorias_essa_atividade_se_encaixa?']">
                    <p><b>Em quais categorias essa atividade se encaixa?</b></p>
                    <p>{{ activity['Em_quais_categorias_essa_atividade_se_encaixa?'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Como_é_o_espaço_utilizado?_']">
                    <p><b>Como é o espaço utilizado?</b></p>
                    <p>{{ activity['Como_é_o_espaço_utilizado?_'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Quanto_tempo_durou_a_atividade?_(opcional)']">
                    <p><b>Quanto tempo durou a atividade? (opcional)</b></p>
                    <p>{{ activity['Quanto_tempo_durou_a_atividade?_(opcional)'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Como_o_valor_foi_trabalhado_na_atividade?_(opcional)']">
                    <p><b>Como o valor foi trabalhado na atividade? (opcional)</b></p>
                    <p>{{ activity['Como_o_valor_foi_trabalhado_na_atividade?_(opcional)'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Foi_utilizado_algum_material?_Qual?_Quanto?_(opcional)_']">
                    <p><b>Foi utilizado algum material? Qual? Quanto? (opcional)</b></p>
                    <p>{{ activity['Foi_utilizado_algum_material?_Qual?_Quanto?_(opcional)_'] }}</p>
                </div>

                <div class="col-md-6" ng-show="activity['Feedback']">
                    <p><b>Feedback</b></p>
                    <p>{{ activity['Feedback'] }}</p>
                </div>
            </div>
            <div class="col-md-6" ng-show="activity['Descreva_a_atividade_']">
                <p><b>Descreva a atividade</b></p>
                <p>{{ activity['Descreva_a_atividade_'] }}</p>
            </div>
        </div>
    </div>
</body>
</html>

